@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h2>Registration Form</h2>
    <table class="table table-bordered">
        <tr>
            <td>Name:</td>
            <td colspan="2"><input type="text" class="form-control" /></td>
        </tr>
        <tr>
            <td>Created Date:</td>
            <td>Gender:</td>
            <td>Password:</td>
        </tr>
        <tr>
            <td><input type="date" class="form-control" /></td>
            <td>
                <select class="form-control">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </td>
            <td><input type="password" class="form-control" /></td>
        </tr>
        <tr>
            <td colspan="3">Address:</td>
        </tr>
        <tr>
            <td colspan="3"><input type="text" class="form-control" style="width:100%" /></td>
        </tr>
    </table>
</div>