
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>


<table border="1">
    <tr>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <td>CreatedDate</td>
        <td>Gender</td>
        <td>Password</td>
    </tr>
    <tr>
        <td colspan="3">@Model.Address</td>
    </tr>
</table>
