
@{
    ViewBag.Title = "PasswordUpdate";
}

<h2>PasswordUpdate</h2>

@{
    ViewBag.Title = "Password Updated";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordUpdate</title>
</head>
<body>
    <div>
        <h1> Congratulations</h1>
        <h2> Password Updated</h2>
        <p>Your password has been updated successfully.</p>
    </div>
</body>
</html>