@model WebApp26.Models.UserCredentials
@{
    ViewBag.Title = "ToView";
}

<h2>ToView</h2>



<style>
    table {
        width: 80%; /* Set the width of the table */
        margin: 20px auto; /* Center the table horizontally */
        text-align: center; /* Center the contents of the table cells */
    }
</style>

<div style="margin-top: 20px;"></div>


<table border="1">
    <tr>
        <td colspan="3">AKANKSHA</td>
    </tr>
    <tr>
        <td>01-03-2024</td>
        <td>Female</td>
        <td>Dangerous@22</td>
    </tr>
    <tr>
        <td colspan="3">A 50, Block A, Sector 61, Noida-201301, Uttar Pradesh</td>
    </tr>
</table>

